@media only screen and (min-width: 1024px) {
  /* .principal {
    width: 100vw;
    height: 100vh;
  } */

  /* .secundario {
    width: 100vw;
    height: 90vh;
  } */
  /* .terciario {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column-reverse;
  } */
}
